<div class="container">
  <div class="sidebar">
    <h3>My Chatrooms</h3>
    <ul class="chatroom-list">
      <li class="chatroom-item" *ngFor="let chatroom of chatrooms">
        {{ chatroom.name }} ({{ chatroom.totalMembers }})
        <button class="leave-button">X</button>
      </li>
    </ul>
    <button class="join-button">Join Chatroom</button>
  </div>
    <div class="main-window">
        <div class="chat-messages">
            <!-- Chat messages go here -->
            <div>
                HOP
            </div>
        </div>
        <div class="user-list">
            <h3 class="user-list-title">User List</h3>
            <h1>meho</h1>
                <!-- User list goes here -->
        </div>
        <div class="input-container">
            <input type="text" class="input-field" placeholder="Type your message">
            <button class="send-button">Send</button>
        </div>
</div>

    <!-- Content for the main chat window goes here -->
    <!-- (click)="leaveChatroom(chatroom)-->
</div>
